
.container{
    background-color: rgb(150, 142, 142);
    width: 70vh;
    margin-left: auto;
    margin-right: auto;
    height: 60vh;
    border-radius: 50px ;
    
}
h1{
    color: burlywood;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 70px;
    border-bottom: 4px dotted white;
    
}
li{
    margin-bottom: 40px;
    margin-left: 90px;
    font-size: 30px;
    color: bisque;
    
}
a{
    color: bisque;
    text-decoration: none;
    transition: 0.5s;
    
}
a:hover{
    color: aliceblue;
    
}